$namespace: 'lc-d';
$theme-color: #02AED2;

$font-color: #070303;
$border-color: #d9dbdd;
$hover-color: #f3f5f9;

$nav-height: 35px;
$nav-color: #070303;
$nav-background-color: #ffffff;

$sidebar-header-background-color: $theme-color;
$sidebar-content-background-color: #ffffff;

$page-bar-height: 32px;
